* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
  color: #5f5f5f;
}

a {
  text-decoration: none;
  color: #5f5f5f;
}

/* ------------------------------------------------------------  Navbar ------------------------------------------------------------------  */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 6px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* -------------------- nav left ------------------------  */
.navbar-left {
  display: flex;
  align-items: center;
}
.logo-img {
  width: 30px;
  margin-right: 15px;
}

.search-box {
  background-color: #f0f2f5;
  width: 250px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 0 15px;
}
.search-box img {
  width: 15px;
}
.search-box input {
  width: 100%;
  background-color: transparent;
  padding: 9px;
  border: 0;
  outline: none;
}

/* ----------------------- nav center ----------------------  */

.navbar-center ul li {
  display: inline-block;
  list-style: none;
  /* border: 2px solid blue; */
}

.navbar-center a {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 5px 6px;
  /* padding: 5px; */
  /* border: 2px solid red; */
  position: relative;
}

.navbar-center a img {
  width: 30px;
}
.navbar-center a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #045be6;
  top: 45px;

  transition: width 0.3s;
}

.navbar-center a:hover::after {
  width: 100%;
}
.navbar-center a.active-link::after {
  width: 100%;
}

/* ------------------- nav right ---------------------  */

.nav-profile-img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.online {
  position: relative;
}

.online::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  background-color: #41db51;
  top: 0;
  right: 0;
  border-radius: 50%;
}

/* ------------------ Dropdown Menu ----------------------  */

.dropdown-menu {
  /* border: 2px solid red; */
  position: absolute;
  top: 85%;
  right: 5%;
  width: 330px;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s;
}

.dropdown-menu.open-menu {
  max-height: 400px;
}

.profile-menu {
  background-color: #222;
  color: #fff;
  padding: 20px;
  margin: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}
.user-info img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.user-info h3 {
  font-weight: 500;
  margin-bottom: -2px;
}
.user-info a {
  color: #c9dbf8;
  font-size: 13px;
}

.profile-menu hr {
  border: 0;
  height: 1px;
  background-color: #fff;
  width: 100%;
  margin: 15px 0 10px;
}

.profile-menu-links {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  margin: 12px 0;
}
.profile-menu-links img {
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}
.profile-menu-links p {
  width: 100%;
}

/* ---------------------------------------------------------  Main Content -------------------------------------------------------------  */

.main-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 5%;
  /* border: 2px solid red; */
}

/* ------------------------------------- left sidebar --------------------------------------  */
.left-sidebar {
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 65px;
}

/* ------- sidebar-profile-box --------  */
.sidebar-profile-box {
  background-color: #fff;
}

.profile-info {
  padding: 0 25px;
}
.profile-info img {
  width: 90px;
  border-radius: 50%;
  background: #fff;
  margin-top: -45px;
  padding: 4px;
}
.profile-info h1 {
  font-size: 20px;
  font-weight: 600;
  color: #222;
}
.profile-info h3 {
  font-size: 15px;
  font-weight: 500;
  color: #777;
}
.profile-info ul {
  list-style: none;
  margin: 20px 0;
}
.profile-info ul li {
  margin: 5px 0;
  font-size: 14px;
  /* width: 100%; */
}
.profile-info ul li span {
  float: right;
  color: #045be6;
}

/* ------------- profile-links -------------  */
.profile-links {
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  /* border: 2px solid red; */
}
.profile-links a {
  /* border: 2px solid red; */
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  font-size: 13px;
  border-left: 1px solid #ccc;
}

.profile-links a:first-child {
  border-left: 0;
}

.profile-links a img {
  width: 20px;
  margin-right: 10px;
}

/* ---------------- activity section --------------  */

.activity-section {
  background-color: #fff;
  padding: 5px 20px;
  margin: 12px 0;
}
.activity-section h3 {
  font-size: 14px;
  color: #777;
  font-weight: 550;
  margin: 20px 0 10px;
}
.activity-section a {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  color: #888;
  margin: 4px 0;
}
.activity-section a img {
  width: 23px;
  margin-right: 10px;
}

/* -------- discover more ---------  */

.discover-more-link {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  margin-left: -20px;
  margin-right: -20px;
  text-align: center;
}
.discover-more-link a {
  color: #045be6;
  display: inline-block;
  margin: 10px 0;
}

/* ---------------------------------------- middle sidebar ------------------------------------------  */
.middle-sidebar {
  flex-basis: 47%;
  /* background-color: rgb(214, 91, 214); */
}

/* ------ create post -----  */
.create-post {
  background-color: #fff;
}

.create-post-input {
  padding: 20px 25px 10px;
  display: flex;
  align-items: flex-start;
}

.create-post-input img {
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.create-post-input textarea {
  width: 100%;
  margin-top: 8px;
  border: 0;
  outline: none;
  resize: none;
  background-color: transparent;
}

::placeholder {
  font-weight: 500;
}

.create-post-links {
  display: flex;
  align-items: flex-start;
}
.create-post-links li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 25%;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 40px;
  font-size: 13px;
  cursor: pointer;
}
.create-post-links li img {
  width: 15px;
  margin-right: 5px;
}
.create-post-links li:last-child {
  background-color: #045be6;
  color: #fff;
  border-top: 0;
  border-right: 0;
}

/* ------ sort -----  */

.sort-by {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.sort-by hr {
  flex: 1;
  border: 0;
  height: 1px;
  background-color: #ccc;
}
.sort-by p {
  font-size: 13px;
  padding-left: 5px;
}
.sort-by p span {
  font-weight: 600;
  cursor: pointer;
}
.sort-by p img {
  width: 12px;
}

/* <!-- ------ Post 1 -------  --> */

.post {
  background-color: #fff;
  padding: 20px 25px 5px;
  margin: 5px 0 15px;
}
.post-author {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.post-author img {
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
  /* margin-top: 10px; */
}
.post-author h1 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.post-author small {
  display: block;
  margin-top: 1px;
  font-size: 12px;
}
.post p {
  font-size: 14px;
  margin-bottom: 15px;
}

/* ---- stats -----  */
.post-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
  margin-top: 5px;
}
.post-stats div {
  display: flex;
  align-items: center;
}
.post-stats div img {
  width: 15px;
  margin-right: -5px;
}

.Liked-users {
  margin-left: 10px;
}

/* ---- stats ----  */

.post-activity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
  /* border: 2px solid red; */
}
.post-activity div {
  display: flex;
  align-items: center;
}

.activity-user-icon {
  width: 22px;
  border-radius: 50%;
}
.activity-arrow-icon {
  width: 12px;
  margin-left: 5px;
}

.activity-links img {
  width: 18px;
  margin-right: 8px;
}

/* -------------------------------- right sidebar ---------------------------------  */
.right-sidebar {
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 65px;
}

.trending-news {
  background-color: #fff;
  padding: 10px 25px;
}
.trending-news h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 10px 0 30px;
}

.info-icon {
  width: 15px;
  float: right;
  margin-top: 15px;
}

.trending-news a {
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin: 10px 0 3px;
}
.trending-news span {
  font-size: 12px;
}

.trending-news .read-more-link {
  color: #045be6;
  font-weight: 500;
  margin: 20px 0 10px;
}

/* -------- ads -------  */
.sidebar-ads {
  background-color: #fff;
  padding: 15px 25px;
  margin: 12px 0;
  text-align: center;
  font-size: 12px;
}

.sidebar-ads img {
  width: 60px;
  border-radius: 50%;
  margin: 4px;
}

.sidebar-ads small {
  float: right;
  font-weight: 500;
}

.sidebar-ads p {
  margin-top: 25px;
  margin-bottom: 10px;
}
.sidebar-ads b {
  display: block;
  font-weight: 500;
  margin-top: 10px;
}

.ads-link {
  display: inline-block;
  border: 1px solid #045be6;
  color: #045be6;
  border-radius: 30px;
  padding: 5px 15px;
  margin: 20px auto 10px;
  font-weight: 500;
}

/* ------- useful-links --------  */

.useful-links {
  padding: 15px 25px;
  text-align: center;
}
.useful-links a {
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  /* border: 2px solid red; */
}

.copyright-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
}
.copyright-msg img {
  width: 18px;
  margin-right: 4px;
}

/* ---------------------------------------------- Profile page -----------------------------------------------  */

.main-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 5%;
  /* border: 2px solid red; */
}

/* ------------------------------- profile-details --------------------------------------  */
.profile-details {
  flex-basis: 73%;
}

.profile-container {
  background-color: #fff;
}

.profile-container-inner {
  padding: 0 4% 10px;
  /* border: 2px solid red; */
}
.profile-pic {
  width: 150px;
  border-radius: 50%;
  margin-top: -75px;
  background-color: #fff;
  padding: 5px;
}
.profile-container-inner h1 {
  font-size: 28px;
  font-weight: 600;
  color: #222;
}
.profile-container-inner b {
  font-weight: 500;
}
.profile-container-inner p {
  margin-top: 5px;
}
.profile-container-inner p a {
  color: #045be6;
  font-weight: 500;
  font-size: 14px;
}

.mutual-connection {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.mutual-connection img {
  width: 30px;
  border-radius: 50%;
  margin-right: -8px;
}
.mutual-connection span {
  font-size: 14px;
  margin-left: 10px;
}

.profile-btn {
  /* border: 2px solid red; */
  margin: 20px 0 10px;
}
.profile-btn a {
  display: inline-flex;
  align-items: center;
  background-color: #e4e6eb;
  padding: 6px 12px;
  border-radius: 4px;
  margin-right: 10px;
}
.profile-btn a img {
  width: 18px;
  margin-right: 5px;
}
.profile-btn .primary-btn {
  background-color: #045be6;
  color: #fff;
}

/* ------ about section -------  */
.profile-description {
  background-color: #fff;
  margin: 12px 0;
  padding: 20px 4% 30px;
}
.profile-description h2 {
  color: #333;
  font-weight: 600;
  margin: 10px 0 20px;
}

.see-more-link {
  display: block;
  text-align: right;
  font-size: 15px;
  color: #045be6;
}

/* ------------- experiance section ----------  */

.experiance {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}
.experiance img {
  width: 50px;
  margin-right: 25px;
  margin-top: 5px;
}
.experiance div {
  width: 100%;
}
.experiance h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.experiance b {
  display: block;
  font-size: 15px;
  font-weight: 500;
}
.experiance p {
  margin-top: 15px;
}
.experiance hr {
  border: 0;
  border-bottom: 1px solid #999;
  margin-top: 10px;
}

.experiance-link {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px 0;
  font-weight: 500;
}
.experiance-link img {
  width: 20px;
  margin-left: 8px;
}

/* ----------- skills --------- */
.skill-btn {
  display: inline-block;
  border: 1px solid #777;
  margin: 10px 5px;
  padding: 6px 18px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
}
.skill-btn:hover {
  display: inline-block;
  border: 1px solid #777;
  margin: 10px 5px;
  padding: 6px 18px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
  background-color: #ccc;
}

/* ----------- languages --------- */

.language-btn {
  display: inline-block;
  background-color: #e4e6eb;
  margin: 10px 5px;
  padding: 6px 18px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 8px;
}

/* ------------------------------------ other-details --------------------------------------  */

.other-details {
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 70px;
}

.other-details .sidebar-ads {
  margin: 0;
}

/* ------- people --------  */

.other-people {
  background-color: #fff;
  padding: 15px 20px;
  margin: 12px 0;
  font-size: 12px;
}

.other-people h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0 20px;
}

.people-row {
  display: flex;
  align-items: flex-start;
  /* border: 2px solid red; */
  margin: 8px 0;
}
.people-row img {
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 5px;
}
.people-row h2 {
  font-size: 16px;
  font-weight: 550;
  /* color: #222; */
}
.people-row a {
  display: inline-block;
  margin: 12px 0;
  border: 1px solid #5f5f5f;
  padding: 3px 20px;
  border-radius: 30px;
  font-weight: 500;
}

/* ------------------------------------ footer --------------------------------------  */

.profile-footer {
  padding: 0 6%;
}

/* ------------------------------------------------ media query ----------------------------------------------------  */

@media only screen and (max-width: 840px) {
  .search-box {
    padding: 0;
    width: auto;
    background: transparent;
  }
  .search-box input {
    width: 0;
    padding: 0;
  }

  .navbar-center ul li a span {
    display: none;
  }
  .navbar-center ul li a {
    padding-right: 0;
    margin: 13px;
  }
  .nav-profile-img {
    width: 35px;
  }

  .main-container {
    padding: 15px 3%;
  }
  .left-sidebar,
  .right-sidebar {
    flex-basis: 100%;
    position: relative;
    top: unset;
  }

  .middle-sidebar {
    flex-basis: 100%;
  }

  .post-activity div {
    margin-right: 0;
  }

  .profile-details,
  .other-details {
    flex-basis: 100%;
  }

  .profile-container {
    font-size: 14px;
  }

  .profile-pic {
    width: 100px;
    margin-top: -50px;
  }
}
